.quiz-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  position: relative;
}

.qusetions-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.next-btn {
  background-color: rgb(6, 245, 193);
}

.prev-btn {
  background-color: yellow;
}

.qusetions-btns button {
  padding: 8px 35px;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}

.qusetions-btns button:hover {
  background-color: white;
}
