.questions-container {
  height: 70vh;
}

.questions-container .logo {
  font-size: 50px;
  font-weight: 200;
  border: 2px solid rgb(3, 250, 168);
  width: 30rem;
  text-align: center;
  border-radius: 5px;
  margin: 5rem auto 0 auto;
}

.question-container {
  display: flex;
  width: 30rem;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  margin: 0 auto;

  gap: 4rem;
}

ul {
  list-style: none;
}

ul li {
  margin: 10px 0;
}

ul li {
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.question-label {
  font-size: larger;
  cursor: pointer;
}

.radio-input {
  font-size: 25px;
  cursor: pointer;
}

.question-header {
  font-size: large;
  font-weight: 400;
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  color: white;
  width: 30rem;
}

.error {
  position: absolute;
  color: red;
  bottom: -15px;

  width: 100%;
  background-color: red;
}
